body {
    background-color: orangered;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

main img {
    max-width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

.container a {
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
}

.container img {
    max-width: 700px;
    margin-top: -330px;
}

.container button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(246, 246, 246);
    color: rgb(255, 74, 29);
    font-size: 25px;
    border: none;
    cursor: pointer;
    transition: 0.3s;    
}


